[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glew"]
	path = dependencies/glew
	url = https://github.com/Perlmint/glew-cmake.git
