[submodule "lib/glm/glm"]
	path = lib/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
